@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@layer components {
  h1 {
    @apply text-8xl text-pri;
  }

  tbody::-webkit-scrollbar {
    display: none;
  }

  h2 {
    @apply text-6xl text-pri;
  }

  h3 {
    @apply text-4xl text-pri;
  }

  h4 {
    @apply text-2xl text-black;
  }

  h5 {
    @apply text-xl text-black;
  }

  h6 {
    @apply text-base text-black;
  }

  p {
    @apply text-sm text-black;
  }
  .side-nav {
    @apply pl-6 py-3 hover:bg-pri-light/50 hover:text-pri-dark font-semibold cursor-pointer rounded-l-2xl w-full;
  }
  .side-nav-active {
    @apply bg-pri-light text-pri-dark border-r-4 border-r-pri-dark;
  }
  body {
    @apply bg-lightGray;
  }
  /* tr {
    @apply hover:bg-pri-light rounded-full text-gray hover:text-black;
  }
  td,
  th {
    @apply cursor-pointer text-start;
  } */
}

/* td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
} */

/* td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
} */
